/* src/components/css/Hero.css */
.hero-section {
    background-color: #f4f4f4;
    padding: 50px 20px;
    text-align: center;
    border-bottom: 3px solid #ff7700;
}

.hero-section h1 {
    font-size: 2.8em;
    color: #333;
    margin-bottom: 5px;
}

.hero-section p {
    font-size: 1.2em;
    color: #666;
}